
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get" action="/Client/Index">
    <input type="text" name="email"/>
    <input type="submit" value="search"/>
</form>

<form method="get" action="/Client/Create">
    <input type="submit" value="add Client">
</form>


